<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h1>Display Function</h1>
<table>
    <thead>
        <tr>
            <th>
                nomer_reysa
            </th>
            <th>
                aeroport_vileta
            </th>
            <th>
                aeroport_prileta
            </th>
            <th>
                vremya_vileta
            </th>
            <th>
                dlitelnost_poleta
            </th>
        </tr>
    </thead>
    <tbody>
    {% for result in Test%}
    <tr>
        <td>{{result.nomer_reysa}}</td>
        <td>{{result.aeroport_vileta}}</td>
        <td>{{result.aeroport_prileta}}</td>
        <td>{{result.vremya_vileta}}</td>
        <td>{{result.dlitelnost_poleta}}</td>
    </tr>
    {% endfor %}
    </tbody>
    </table>
    <table>
    <thead>
        <tr>
            <th>
                id_passajira
            </th>
            <th>
                nomer_telefona
            </th>
            <th>
                parol
            </th>
            <th>
                kolichestvo_mil
            </th>
        </tr>
    </thead>
    <tbody>
    {% for result in ID%}
    <tr>
        <td>{{result.id_passajira}}</td>
        <td>{{result.nomer_telefona}}</td>
        <td>{{result.parol}}</td>
        <td>{{result.kolichestvo_mil}}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<br>
</body>
</html>